<div class="container">
	<form [formGroup]="contactForm" class="form-group">


		<mat-form-field appearance="fill">
			<mat-label>Nom</mat-label>
			<input matinput formcontrolname="name">
		</mat-form-field>
		<!-- <small *ngIf="contactForm.get()">Le nom est obligatoire 22minutes</small> -->

		<mat-form-field appearance="fill">
			<mat-label>Email</mat-label>
			<input matinput formcontrolname="email">

		</mat-form-field>


		<mat-form-field appearance="fill">
			<mat-label>Selections</mat-label>
			<mat-select formcontrolname="subject">


				<mat-option value="info">Demande d'information</mat-option>
				<mat-option value="any">Autre</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Message</mat-label>
			<textarea matinput formcontrolname="message"></textarea>

		</mat-form-field>
		<button type="reset " mat-raised-button color="primary" [disabled]="contactForm.invalid" (click)="submitData(contactForm.value)">Envoyer</button>

		<p *ngIf="isSubmit" class="submitMessage">{{ submitMessage }}
		</p>

	</form>

</div>
