<div class="flex">
	<div class="m-auto">
		<mat-card class="example-card">
			<mat-card-title-group>
				<mat-card-subtitle>Bonjour, je suis
				</mat-card-subtitle>
				<mat-card-title style="margin-bottom: 30px; color:blue;">Cyril Gourdon</mat-card-title>

				<mat-card-title style="margin-bottom: 30px; color:blue;">DEVELOPPEUR BACK-END SYMFONY-ANGULAR</mat-card-title>


				<img mat-card-image src="./assets/images/profile.JPG" style="max-width:20rem; border-radius:50%;">
			</mat-card-title-group>
			<mat-card-content>
				Ma formation professionnelle a toujours été guidée par le goût des sciences et des mathématiques, c'est pourquoi j'ai achevé la formation "Développeur web et web mobile". Mon parcours montre que je suis à l'aise au contact des gens. Je suis sensible au respect des demandes de mes clients sous forme de cahier des charges. Je recherche toujours leur satisfaction en respectant la qualité du travail , les délais et la maîtrise des coûts. Mes nombreuses expériences, en France comme à l'international, dans l'industrie chimique et mécanique, dans l'artisanat et le professorat m'ont rendu à l'aise et réactif dans de nombreuses situations.
			</mat-card-content>
			<mat-card-actions>
				<a [routerLink]="['/symfony']" mat-raised-button class="example-spacer" color="primary">Mon  travail</a>
			</mat-card-actions>
		</mat-card>
		<!-- Section About -->
		<div class="text-align" style="text-align:center; margin-top:10px;">
			<h1>A propos</h1>
		</div>

		<mat-grid-list cols="2" rowheight="1:1">
			<mat-grid-tile>
				<mat-card class="example-card">
					<mat-card-title-group>
						<mat-card-title style="margin-bottom: 30px; ">Grâce au framework Symfony je peux vous apporter et personnaliser de nouvelles fonctionnalités dans votre métier en respectant les critères de sécurité et de fiabilité. Ce qui impliquera de moindres coûts de maintenance.</mat-card-title>

					</mat-card-title-group>
					<mat-card-content>
						Vous aurez aussi l'avantage d'avoir accès à un back-office (tableau de bord) personnalisé. Ce genre d'application offre une rapidité d'affichage des pages et peut gérer des liaisons avec d'autres services.

					</mat-card-content>
					<mat-card-actions>
						<a href="/assets/images/CYRILGOURDON.pdf" target="_blank" mat-raised-button class="example-spacer" color="primary" style="margin-bottom:2rem;">Mon  CV</a>

						<div class="social-links">
							<a href="https://www.linkedin.com/in/cyril-gourdon-web-developpeur-symfony-angular/" class="text-dark me-2 fs-5">
								<fa-icon [icon]="faLinkedin" class="fa-2xl" style="margin:2rem;"></fa-icon>
							</a>

							<a href=" https://www.facebook.com/atelierdu.cabriolet/" class=" text-dark ms-4 fs-5">
								<fa-icon [icon]="faFacebook" class="fa-2xl" style="margin:2rem;"></fa-icon>
							</a>
							<a href="https://github.com/cyrisa02" class="text-dark ms-4">
								<fa-icon [icon]="faGithub" class="fa-2xl" style="margin:2rem;"></fa-icon>
							</a>
							<a href="https://www.youtube.com/channel/UCwx0nLuqWHxVly5v_u-ll4Q/videos">
								<fa-icon [icon]="faYoutube" class="fa-2xl " style="margin:2rem;"></fa-icon>
							</a>
						</div>
					</mat-card-actions>
				</mat-card>
			</mat-grid-tile>

			<mat-grid-tile>
				<mat-card class="example-card">
					<mat-card-title-group>
						<mat-card-title style="margin-bottom: 30px; ">Ces applications sont responsives et respectent le concept de "Mobile First".</mat-card-title>
					</mat-card-title-group>
					<mat-card-content>
						A l'aide d'outil comme Figma, je réalise les wireframes, zoning et mockup de mes applications en Mobile First.
					</mat-card-content>
					<mat-card-actions></mat-card-actions>
				</mat-card>
			</mat-grid-tile>

		</mat-grid-list>


		<!-- Section About End-->


		<!-- Section Prestations Start -->

		<div class="text-align" style="text-align:center; margin-top:10px;">
			<h1>Prestations</h1>
		</div>
		<mat-grid-list cols="3" rowheight="1:1">
			<mat-grid-tile>
				<mat-card class="example-card">
					<div class="text-align" style="text-align:center; margin-top:10px;">
						<fa-icon [icon]="faLaptopCode" class="fa-2xl"></fa-icon>
						<mat-card-title-group style=" margin-top:10px;">
							<mat-card-title style="margin-bottom: 30px; color:blue;">Développement Web</mat-card-title>
						</mat-card-title-group>
					</div>
					<mat-card-content>
						Pour une meilleure maintenabilité et un bon fonctionnement des applications, j'intègre dans mes projets une série de tests automatisés (unitaires, d'intégration, système). Avec Git, vous pourrez mener des projets modernes en collaboration, en gérant les mises à jour pour vous faire gagner du temps sur le développement.
					</mat-card-content>
				</mat-card>
			</mat-grid-tile>

			<mat-grid-tile>
				<mat-card class="example-card">
					<div class="text-align" style="text-align:center; margin-top:10px;">
						<fa-icon [icon]="faLightbulb" class="fa-2xl"></fa-icon>
						<mat-card-title-group style=" margin-top:10px;">
							<mat-card-title style="margin-bottom: 30px; color:blue;">AGILE/SCRUM</mat-card-title>
						</mat-card-title-group>
					</div>
					<mat-card-content>
						Pour mener au mieux mes projets, j'apprécie de travailler en mode AGILE/SCRUM, ce qui me permet de mieux répondre à l'attente et aux exigences de mes clients, c'est ce que j'appelle le concept de l' "amélioration continue".
					</mat-card-content>
				</mat-card>
			</mat-grid-tile>

			<mat-grid-tile>
				<mat-card class="example-card">
					<div class="text-align" style="text-align:center; margin-top:10px;">
						<fa-icon [icon]="faLaptop" class="fa-2xl"></fa-icon>
						<mat-card-title-group style=" margin-top:10px;">
							<mat-card-title style="margin-bottom: 30px; color:blue;">Docker et déploiement</mat-card-title>
						</mat-card-title-group>
					</div>

					<mat-card-content>
						Pour certains de mes projets Symfony je mets en oeuvre Docker (& docker-compose). Après avoir utilisé les services d'Heroku, je déploie mes applications sur un VPS Ionos. Je me suis intéressé à configurer EC2 d'AWS.
					</mat-card-content>
				</mat-card>
			</mat-grid-tile>
		</mat-grid-list>


		<!-- Section Prestations End -->

		<!-- Section Projets Symfony Start -->
		<mat-grid-list cols="3" rowheight="2:1">
			<mat-grid-tile>
				<mat-card class="example-card">
					<img mat-card-image src="./assets/images/casutilisation.png" style="max-width:20rem; ">
					<mat-card-title-group>
						<mat-card-title style="margin-bottom: 30px; color:blue;">Documentation technique</mat-card-title>
					</mat-card-title-group>
					<mat-card-content>
						Lien
					</mat-card-content>
				</mat-card>
			</mat-grid-tile>
			<mat-grid-tile>
				<mat-card class="example-card">
					<img mat-card-image src="./assets/images/youtube.png" style="max-width:20rem; ">
					<mat-card-title-group>
						<mat-card-title style="margin-bottom: 30px; color:blue;">Vidéos De Fonctionnement</mat-card-title>
					</mat-card-title-group>
					<mat-card-content>Lien
					</mat-card-content>
				</mat-card>
			</mat-grid-tile>

			<mat-grid-tile>
				<mat-card class="example-card">
					<img mat-card-image src="./assets/images/diagrammeUML.png" style="max-width:20rem; ">
					<mat-card-title-group>
						<mat-card-title style="margin-bottom: 30px; color:blue;">Diagrammes UML</mat-card-title>
					</mat-card-title-group>
					<mat-card-content>Lien
					</mat-card-content>
				</mat-card>
			</mat-grid-tile>

			<mat-grid-tile>
				<mat-card class="example-card">
					<img mat-card-image src="./assets/images/manuelutilisation.png" style="max-width:20rem; ">
					<mat-card-title-group>
						<mat-card-title style="margin-bottom: 30px; color:blue;">Manuel D'utilisation</mat-card-title>


					</mat-card-title-group>
					<mat-card-content>
						Lien

					</mat-card-content>
				</mat-card>
			</mat-grid-tile>

			<mat-grid-tile>
				<mat-card class="example-card">
					<img mat-card-image src="./assets/images/charte.png" style="max-width:20rem; ">
					<mat-card-title-group>
						<mat-card-title style="margin-bottom: 30px; color:blue;">Charte Graphique</mat-card-title>
					</mat-card-title-group>
					<mat-card-content>
						Lien

					</mat-card-content>
				</mat-card>
			</mat-grid-tile>

			<mat-grid-tile>
				<mat-card class="example-card">
					<img mat-card-image src="./assets/images/wireframe.png" style="max-width:20rem; ">
					<mat-card-title-group>
						<mat-card-title style="margin-bottom: 30px; color:blue;">Wireframes</mat-card-title>
					</mat-card-title-group>
					<mat-card-content>
						Lien
					</mat-card-content>
				</mat-card>
			</mat-grid-tile>
		</mat-grid-list>


		<!-- Section Projets Symfony End -->

		<!-- Section Contact Start -->
		<mat-card class="example-card flex" style="background-color: blue;">
			<div class="text-align" style="text-align:center; margin-top:10px;">


				<mat-card-content class="m-auto" style="margin-bottom: 30px; color:white;">

					Vous avez des projets?
				</mat-card-content>
				<mat-card-title-group class="m-auto">

					<mat-card-title style="margin-bottom: 30px; color:white;">Je suis prêt à vous accompagner</mat-card-title>
				</mat-card-title-group>
				<mat-card-actions>
					<a [routerLink]="['/contact']" mat-raised-button class="example-spacer m-auto">Contactez-moi</a>
				</mat-card-actions>
			</div>

		</mat-card>

		<!-- Section Contact End -->

		<!-- Section Témoignages Start -->
		<div class="text-align" style="text-align:center; margin-top:10px;">
			<h1>Témoignages</h1>

		</div>


		<mat-card class="example-card">
			<mat-card-title-group>

				<mat-card-title style="margin-bottom: 30px; color:blue;">Michèle Gilles</mat-card-title>
				<mat-card-subtitle>Responsable de "Au Coeur de Soi"
				</mat-card-subtitle>
				<mat-card-subtitle>Michèle m'a fait confiance pour la réalisation de son site vitrine que j'ai réalisé avec Wordpress.
				</mat-card-subtitle>


				<img mat-card-image src="./assets/images/michele.png" style="max-width:10rem; border-radius:50%;">
			</mat-card-title-group>
			<mat-card-content>
				Oh punaise Cyril je n'en reviens pas !!! Je ne m'attendais pas à quelque chose d'aussi abouti ! J'adore ! Le fond blanc me plaît beaucoup. Est ce que je peux mettre des photos perso à la place des images ? Wouah je suis ravie et demain matin je travaillerai toutes tes questions. Merci de tout cœur 🙏
			</mat-card-content>
			<div class="rating text-secondary">
				⭐⭐⭐⭐⭐
			</div>
		</mat-card>

		<mat-card class="example-card">
			<mat-card-title-group>

				<mat-card-title style="margin-bottom: 30px; color:blue;">Nicolas Faivre</mat-card-title>

				<mat-card-subtitle>Trésorier de l'ASDEC

				</mat-card-subtitle>
				<mat-card-subtitle>Afin de faciliter la gestion de leurs membres, l'ASDEC m'a fait confiance pour leur application de gestion des ressources humaines.

				</mat-card-subtitle>


				<img mat-card-image src="./assets/images/logoasdec.png" style="max-width:8rem; border-radius:50%;">
			</mat-card-title-group>
			<mat-card-content>
				Hello C'est la moindre des choses pour ce que tu fais à l'association, le webmaster 😉👍 Bonne journée

			</mat-card-content>
			<div class="rating text-secondary">
				⭐⭐⭐⭐⭐
			</div>
		</mat-card>


		<!-- Section Témoignages End -->


	</div>
</div>
